<form [formGroup]="movieForm" #ngForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      class="form-control"
      type="text"
      formControlName="title"
      id="title"
    />
    <div
      *ngIf="title?.errors?.['required'] && ngForm.submitted"
      class="validation-error"
    >
      title is required
    </div>
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <input
      class="form-control"
      type="number"
      formControlName="year"
      id="year"
    />
    <div *ngIf="year?.errors?.['required']" class="validation-error">
      year is required
    </div>
    <div *ngIf="year?.errors?.['year'] " class="validation-error">
      year should be after {{year?.errors?.['year'].value}}
    </div>
  </div>

  <div class="form-check mb-3">
    <input
      class="form-check-input"
      type="checkbox"
      formControlName="isFavorite"
      id="is-favorite"
    />
    <label class="form-check-label" for="is-favorite">Is favorite</label>

    <!-- <div *ngIf="directorFormControl.errors?.noLetter" class="alert">
            no letter {{ directorFormControl.errors?.noLetter.value }} please
          </div> -->
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
